<%- include('./partials/header.ejs') %>

<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: red;color: white;
                                margin-top: 150px;
                                margin-bottom: 50px;">
        <h1><b>PAGINA NO ENCONTRADA</b></h1>
        <H1>ERROR 404</H1>
    </div>
    <form action="/">
        <button class="btn btn-lg btn-warning">Volver a HOME</button>
    </form>
</div>
</div>

<%- include('./partials/footer.ejs') %>