<%- include('../partials/header.ejs') %>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <h3 style="
        color:#ffc107; 
        background-color: #212529; 
        padding-bottom: 8px;
        border-radius: 10px;">Cargar Productos</h3>
        
            <form class="prod-form" id="formAddProduct"onsubmit="agregarProducto()" method="post">
                <div class="d-flex flex-column align-items-center">
                    <input type="text" name="name" class="form-control" placeholder="Producto" style="margin-bottom: 10px;">
                    <input type="text" name="price" class="form-control" placeholder="Precio" style="margin-bottom: 10px;">
                    <input type="text" name="url" class="form-control" placeholder="Imágen" style="margin-bottom: 10px;">
                    <input type="number" name="stock" class="form-control" placeholder="Stock" style="margin-bottom: 10px;">
                    <button type="submit" class="btn btn-warning">Ingresar Producto</button>
                </div>
            </form>
      </div>
      <div class="col">
        <div>
            <h2 style="
                text-align: center;
                color:#ffc107; 
                background-color: #212529; 
                padding-bottom: 8px; 
                margin-bottom: 0px;
                border-radius: 10px 10px 0px 0px;"> Lista de Productos</h2>
            <% if (products.length > 0){ %> 
                <div class="container">
    <div>
        <h2 style="
        margin-top: 35px;
        text-align: center;
        color:#ffc107; 
        background-color: #212529; 
        padding-bottom: 8px; 
        margin-bottom: 0px;
        border-radius: 10px 10px 0px 0px;"> Lista de Productos
        </h2>

    <div class="card" style="width: 18rem;">
        <img style="width: 220px; height: 220px;" src= <%=product.img  %> >
        <div class="card-body">
            <h5><%=product.name %></h5>
            <p class="card-text">Descripción</p>
            <button class="btn btn-warning">Coomprar</button>
        </div>
    </div>
</div>
            <% } else { %>
                <p class="aler alert-warning">No se encontró productos</p>
            <% } %>
        </div>  
      </div>
    </div>
<%- include('../partials/footer.ejs') %>


