<%- include('../partials/header.ejs') %>
<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(233, 58, 39);
                                  color: white;
                                  padding: 50px;">
        <div>
            <h1>ERROR AL INGRESAR</h1>
        </div>
    </div>    
        <form action="/">
            <div class="text-center"></div>
                <button class="btn btn-warning my-3">Back to home</button>
            </div>
        </form>
    
</div>
<%- include('../partials/footer.ejs') %>