<%- include('../partials/header.ejs') %>

<div style="max-width: 500px; 
            margin: 30px auto;
            padding: 10px;
            border-radius: 15px;
            color:#ffc107;
            background-color: #757170;">
            <div>
              <h3 style="background-color: #212529;
                        text-align: center;
                        border-radius: 15px;
                        width: 300px;" >Ingreso de usuario</h3>
            </div>
  <form id="form" role="form" action="/login" method="post" autocomplete="off">
      <div class="mb-3">
          <label class="form-label">User Name</label>
          <input name='username' placeholder="Nombre" class="form-control" type="text" required>
      </div>
      <div class="mb-3">
          <label class="form-label">Password</label>
          <input name='password' placeholder="Password" class="form-control" type="password" required>
      </div>
      <div style="text-align:center;">
        <button 
        style="margin-bottom: 10px" 
        type="submit" 
        value="Login" 
        class="btn btn-warning text-align: center">
        Log in
        </button>
      </div>
      <hr>
      <form action="/session">
        <button class="btn btn-lg btn-success">Back to Home</button>
    </form>
  </form>
</div>
<%- include('../partials/footer.ejs') %>