<%- include('../partials/header.ejs') %>
<br>
<div class="container" 
     style="text-align: center;
            background-color: #212529;
            border-radius: 15px;
            width: 600px;">
    <div class="row">
        <div class="col">
            <h3 style="
            color:#ffc107; 
            padding-bottom: 8px;
            padding-top: 15px;
            ">Ingreso Usuario</h3>
        </div>
        <div class="col">
            <form action="/login">
                <div class="form-group">
                    <input class="btn btn-warning my-3" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="
            color:#ffc107; 
            padding-bottom: 8px;
            padding-top: 15px;
            ">Nuevo Usuario</h3>
        </div>
        <div class="col">
            <form action="/signUp">
                <div class="form-group">
                    <input class="btn btn-success my-3" type="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>


