<%- include('../partials/header.ejs') %>

<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: red;color: white;">
        <h1>USER ERROR SIGNUP</h1>

        <form action="/session">
            <div class="text-center"></div>
                <button class="btn btn-warning my-3">Back to home</button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer.ejs') %>